@import '../TabContent.module.css';

.container {
    width: 670px;
    margin: 15px auto;
    background: white;
    border-radius: 15px;
    padding: 15px;

    @media screen and (max-width: 730px) {
        width: 100%;
        margin: 15px auto 0 -15px;
        border-radius: 0;
    }
}

.productItem {
    height: auto;
    margin-top: 30px;

    &>img {
        max-height: 150px;
        max-width: 70%;
        float: right;
        border-radius: 15px;
        margin: 0 0 15px 15px;
    }
}

.productContent>h1 {
    font-size: 20px;
    color: var(--theme-primary-color);

    &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 30px;
        background-color: var(--theme-primary-color);
        margin-left: -15px;
    }
}

.productLink {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}

.productLinkItem {
    text-align: center;
    font-weight: bold;
    flex: 1;

    &>p {
        margin-bottom: 0.67em;
    }
}

.productSearch {
    @include flex-center();
    gap: .25em;

    padding: 8px 15px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px var(--theme-font-color);
}