@import '../TabContent.module.css';

.container {
    padding: 15px;
    overflow: auto;
    text-align: left;
}

.friendColumn {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    margin-top: 10px;
}

.friendItem {
    flex: 1;
    display: inline-block;
    padding: 15px 20px;
    border-left: 4px solid var(--theme-primary-color);
    box-shadow: 1px 1px 3px var(--theme-shadow-color);
    box-sizing: border-box;
    border-radius: 5px;

    &>h2 {
        font-size: 18px;
        color: var(--theme-primary-color);
        margin: 0 0 5px 0;
    }

    &>p {
        margin: 0 0 5px 0;
    }
}