services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        HTTP_PROXY: "http://172.17.0.1:7890"
        HTTPS_PROXY: "http://172.17.0.1:7890"
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
    restart: always