.footerWrapper {
    position: relative;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    padding-top: 20px;
    overflow: hidden;

    @media (max-width: 730px) {
        padding-top: 35px;
        background-color: white;
    }
}

.waves {
    display: block;
    width: 100%;
    height: 120px;
    min-height: 120px;
    max-height: 150px;
    margin: 0;
    position: relative;

    @media (max-width: 730px) {
        height: 60px;
        min-height: 60px;
    }
}

.footer {
    text-align: center;
    padding: 30px;
    background-color: $theme-primary-color;
    margin-top: -5px;
    color: $theme-button-font-color;
    
    a {
        color: $theme-button-font-color;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.socialButton {
    @include flex-center();

    height: 50px;
    width: 50px;
}