* {
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;

    --theme-primary-color: #{$theme-primary-color};
    --theme-shadow-color: #{$theme-shadow-color};
    --theme-font-color: #{$theme-font-color};
    --theme-button-font-color: #{$theme-button-font-color};
    --theme-container-background-color: #{$theme-container-background-color};
}

body {
    margin: 0;
    background:
            linear-gradient(180deg, rgba(189,228,252,.5) 50%, transparent 50%) -12.5px -12.5px / 50px 50px fixed,
            linear-gradient(90deg, rgba(189,228,252,.5) 50%, transparent 50%) -12.5px -12.5px / 50px 50px fixed;
    color: var(--theme-font-color);
    font-size: 0;
    font-family: Arial, sans-serif;
}

a {
    color: var(--theme-primary-color);
    font-size: 14px;
    text-decoration: none;
}

h1>a, h2>a, h3>a {
    font-size: unset;
}

p {
    font-size: 14px;
    line-height: 20px;
}

img.lazy {
    opacity: 0;
}

img:not(.initial) {
    transition: opacity .5s;
}

img.initial,
img.loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}